.sidebar {
  position: absolute;
  border-radius: 0.75rem;
  background: rgba(22, 135, 167, 0.15);
  display: flex;
  flex-direction: column;
}

.call-sidebar {
  top: 6rem;
  left: 6rem;
  height: 37.6rem;
  width: 25rem;
}

.home-sidebar {
  right: 6rem;
  height: 90vh;
  margin-top: 2rem;
  width: 25vw;
}

.home-message-sidebar {
  position: absolute;
  left: 6rem;
  top: 6rem;
}

.sidebar-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  width: 100%;
  height: 3.5rem;
  color: #1687a7;
  border-radius: 0.75rem 0.75rem 0 0;
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.call-sidebar-heading {
  background: rgba(22, 135, 167, 0.15);
}

.home-sidebar-heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sidebar-list {
  position: absolute;
  top: 3.5rem;
  left: 0.5rem;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.secondary-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: #1687a7;
  text-align: left;
}
