body {
  margin: 0;
  overflow-y: hidden;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left-design {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  transform: scale(1.5, 1);
}

.right-design {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  transform: scale(2.5, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
